<hr />

<% @user_bikestations.each do |station| %>
Station: <%= station.station_name %></br>
Commute Time: <%= station.commute %></br>
<sub><%= link_to "Edit", edit_bikestation_path(station) %> | <%= link_to "Delete", bikestation_path(station),
                    method: :delete, data: { confirm: 'Are you sure you want to delete this commute?' }  %></sub>
</p>

<hr />

<% end %>