<div class="jumbotron">
	<h1>Welcome to TextBike!</h1>
	<p>Ever end up going to your regular Capital Bikeshare bikestation for your commute only to find that tourists have taken all the bikes? Yeah, us too...</p>
	<p>TextBike will text you five minutes before your regular commute time if your bikestation has been totally raided of precious, precious bikes.</p>
	<% if user_signed_in? %>
	<%= link_to "Create a Commute", new_commute_path, class: "btn btn-primary btn-lg" %>
	<% else %>
	<%= link_to "Sign Up", new_user_registration_path, class: "btn btn-primary btn-lg" %>
	<% end %>
</div>