<% provide(:title, 'All Commutes') %>
<div class="jumbotron">
<h2>Your Commutes</h2>
<p>If one of these bikestations is low on bikes 5-10 minutes before your commute time, you will receive text notification from TextBike (202-759-2647) on your cell phone.</p>
</div>

<% @user_commutes.each do |x| %>
<div class="jumbotron">
<strong>Station: <%= x.station_name %></strong></br>
Commute Time: <%= x.commute.strftime("%I:%M %p") %></br>
<sub><%= link_to "Edit", edit_commute_path(x) %> | <%= link_to "Delete", commute_path(x),
                    method: :delete, data: { confirm: 'Are you sure you want to delete this commute?' }  %></sub>
</div>
<% end %>