<p><strong>Here is your commute:</strong><br />

<p>Your station is: <strong><%= "#{@commute.station_name}" %></strong>.<br />
Your commute time is: <%= "#{@commute.commute.strftime("%I:%M %p")}" %>. 
</p>