<div id="footer">
	<div class="container">
    <p>Made with love by <%= link_to "Jason Corum", "http://jcorum.elance.com", class: "active" %> with an education from <%= link_to "General Assembly", "https://generalassemb.ly/" %></p>
  </div>
</div>