<div id="footer">
	<div class="container">
    <p>Made with love by <strong><%= link_to "Jason Corum", "http://jcorum.elance.com", class: "active", target:"_blank" %></strong> with an education from <strong><%= link_to "General Assembly", "https://generalassemb.ly/", target:"_blank" %></strong></p>
  </div>
</div>