<div id="footer">
	<div class="container">
    <p>Made with love by <%= link_to "Jason Corum", "http://jcorum.elance.com", class: "active", target:"_blank" %> with an education from <%= link_to "General Assembly", "https://generalassemb.ly/", target:"_blank" %>.</p>
  </div>
</div>